body{
  background-color: organge;
  font-family: monospace;
  font-feature-settings:
}

.blood {
  font-family: nosifer;
       color: #FF0000;
  font-size:5em;
  transition: all .25s ease;
    -webkit-text-stroke: 0.1px rgba(246, 186, 74, 1);
  animation: drip 2.5s infinite alternate;

}

@keyframes drip {
    to {
        text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000,
       4px 8px 1px #500000,
       4px 10px 1px #600000,
       4px 12px 1px #700000,
       4px 14px 1px #800000,
       4px 16px 1px #900000,
       4px 18px 1px #A00000,
       4px 20px 1px #B00000,
       4px 22px 1px #C00000,
       4px 24px 1px #D00000,
       4px 26px 1px #E00000,
       4px 28px 1px #F00000,
       4px 30px 1px #FA0000,
       4px 32px 1px #FB0000,
       4px 34px 1px #FC0000,
       4px 36px 1px #FD0000,
       4px 38px 1px #FE0000,
       4px 40px 2px #FF0000;
    }
}

.container{
  height:700px;

  display: flex;
}
.box{
  height:80%;
  width:50%;
  border:2px solid black;
  margin: auto;
  text-align: center;
}
.imagebox{
  width:80%;
  height:70%;
  margin: auto;
  margin-top: 3%;
}
img{
  width:100%;
  height:100%;
}
h1{
  text-align: center;
  font-size: 50px;
}

.modalwindow{
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color:orange;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255, 179, 112, .85);
  overflow: auto;
}
.msgbox{
  background-color: orange;
  width:60%;
  height:50%;
  margin: auto;
  margin-top: 10%;
  position: relative;
  overflow: auto;
}
.header{
  background-color: orange;
  position: relative;
  padding-top: .01%;
}

.header>a{
  position: absolute;
  padding: 5px;
  top:0;
  right:0;
  border:1px solid white;
  background-color: white;
  text-decoration: none;
  color:black;
}
.header>a:hover{
  border: 1px solid red;
  background-color: red;
  color:white;
}
.header>h1{
  margin-top: 0;
  padding-bottom: 1%;
}
.msgbox>p{
  width:100%;
  height:30%;
  overflow: auto;
}
.car{
  width:100%;
  height:80%;
  margin: auto;
  margin-bottom: 2%;

}
.car>img{
  width:150%;
  height:150%;
}

.modalwindow:target{
  opacity: 1;
  pointer-events: auto;
}

.modal{
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color:orange;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255, 179, 112, .85);
  overflow: auto;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:Black;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
